footer {
  // border-radius: 52px;
  background: linear-gradient(145deg, #202020, #252727);
  box-shadow: 27px 27px 54px #0e0e0e, -27px -27px 54px #383a3a;
  min-height: 17vh;
  color: white;
  font: 400 1rem $primaryFont;
  letter-spacing: 1.3px;
  padding: 0.5rem 35px;
  text-align: center;
  background-color: #fff;
  color: $textColor;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.upperFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.socials {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    &:hover,
    &:focus {
      color: $textColor;
      transition: all 0.2s;
      cursor: pointer;
    }
  }
  @media (max-width: 900px) {
    width: 80%;
  }
}

.copyright {
  padding: 1rem;
  color: white;
}

.subscribeText a {
  color: white;
  text-decoration: none;
  outline: none;
  &:hover,
  &:focus {
    text-decoration: none;
    color: white;
  }
}

.scrollTop {
  color: white;
  cursor: pointer;
}
