footer {
  color: $textColor;
  background-image: linear-gradient(#353a3f, #17191c) !important;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2), 0 20px 40px rgba(0, 0, 0, 0.2),
    0 40px 80px rgba(0, 0, 0, 0.4);
  min-height: 12vh;
  font: 400 1rem $secondaryFont;
  letter-spacing: 1.3px;
  padding: 1rem 0;
  text-align: center;
}

.upperFooter {
  width: 100%;
  @include flex(row nowrap, space-between, center);
}

.socials {
  width: 15%;
  @include flex(row nowrap, space-around, center);
  a {
    text-decoration: none;
    color: $textColor;
    font-size: 1.2rem;
    transition: transform 0.2s;
    &:hover,
    &:focus {
      color: #25c93f;
    }
  }
  @media (max-width: 900px) {
    width: 30%;
  }
}

.copyright {
  padding: 1rem;
}

.scrollTop {
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s;
  &:hover,
  &:focus {
    color: #ff5f55;
  }
}
