@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Mono', monospace;
$textColor: white;

@mixin flex($flexFlow, $justifyContent, $alignItems) {
  display: flex;
  flex-flow: $flexFlow;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
