@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.App {
  text-align: center;
  background-color: #161819;
  color: #25C93F;
  font-family: 'Roboto Mono', monospace;
  /* font-family: 'Inconsolata', monospace; */
}

ul {
  list-style-type: none;
}
